<div class="wrapper">
  <div class="container">
    <mat-tab-group mat-align-tabs="center" [color]="'primary'" [backgroundColor]="'primary'">
      <mat-tab label="List of Demons">
        <table mat-table [dataSource]="demonsArray">
          <ng-container matColumnDef="race">
            <th mat-header-cell *matHeaderCellDef>Race</th>
            <td mat-cell *matCellDef="let demonsArray">{{demonsArray.race}}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let demonsArray">{{demonsArray.name}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsDisplayDemons; sticky: true"></tr>
          <tr mat-row *matRowDef="let demonsArray; columns: columnsDisplayDemons"
            (click)="navigateToDetailDemons(demonsArray.id)"></tr>
        </table>
      </mat-tab>
      <mat-tab label="List of Magatamas">
        <table mat-table [dataSource]="magatamaArray">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let magatamaArray">{{magatamaArray.name}}</td>
          </ng-container>
          <ng-container matColumnDef="baseSt">
            <th mat-header-cell *matHeaderCellDef>Additional St</th>
            <td mat-cell *matCellDef="let magatamaArray">{{magatamaArray.baseSt}}</td>
          </ng-container>
          <ng-container matColumnDef="baseMa">
            <th mat-header-cell *matHeaderCellDef>Additional Ma</th>
            <td mat-cell *matCellDef="let magatamaArray">{{magatamaArray.baseMa}}</td>
          </ng-container>
          <ng-container matColumnDef="baseVi">
            <th mat-header-cell *matHeaderCellDef>Additional Vi</th>
            <td mat-cell *matCellDef="let magatamaArray">{{magatamaArray.baseVi}}</td>
          </ng-container>
          <ng-container matColumnDef="baseAg">
            <th mat-header-cell *matHeaderCellDef>Additional Ag</th>
            <td mat-cell *matCellDef="let magatamaArray">{{magatamaArray.baseAg}}</td>
          </ng-container>
          <ng-container matColumnDef="baseLu">
            <th mat-header-cell *matHeaderCellDef>Additional Lu</th>
            <td mat-cell *matCellDef="let magatamaArray">{{magatamaArray.baseLu}}</td>
          </ng-container>
          <ng-container matColumnDef="phys">
            <th mat-header-cell *matHeaderCellDef>Physical</th>
            <td mat-cell *matCellDef="let magatamaArray">{{magatamaArray.resistances.phys}}</td>
          </ng-container>
          <ng-container matColumnDef="fire">
            <th mat-header-cell *matHeaderCellDef>Fire</th>
            <td mat-cell *matCellDef="let magatamaArray">{{magatamaArray.resistances.fire}}</td>
          </ng-container>
          <ng-container matColumnDef="ice">
            <th mat-header-cell *matHeaderCellDef>Ice</th>
            <td mat-cell *matCellDef="let magatamaArray">{{magatamaArray.resistances.ice}}</td>
          </ng-container>
          <ng-container matColumnDef="elec">
            <th mat-header-cell *matHeaderCellDef>Elec</th>
            <td mat-cell *matCellDef="let magatamaArray">{{magatamaArray.resistances.elec}}</td>
          </ng-container>
          <ng-container matColumnDef="force">
            <th mat-header-cell *matHeaderCellDef>Force</th>
            <td mat-cell *matCellDef="let magatamaArray">{{magatamaArray.resistances.force}}</td>
          </ng-container>
          <ng-container matColumnDef="curse">
            <th mat-header-cell *matHeaderCellDef>Curse</th>
            <td mat-cell *matCellDef="let magatamaArray">{{magatamaArray.resistances.curse}}</td>
          </ng-container>
          <ng-container matColumnDef="nerve">
            <th mat-header-cell *matHeaderCellDef>Nerve</th>
            <td mat-cell *matCellDef="let magatamaArray">{{magatamaArray.resistances.nerve}}</td>
          </ng-container>
          <ng-container matColumnDef="mind">
            <th mat-header-cell *matHeaderCellDef>Mind</th>
            <td mat-cell *matCellDef="let magatamaArray">{{magatamaArray.resistances.mind}}</td>
          </ng-container>
          <ng-container matColumnDef="expel">
            <th mat-header-cell *matHeaderCellDef>Expel</th>
            <td mat-cell *matCellDef="let magatamaArray">{{magatamaArray.resistances.expel}}</td>
          </ng-container>
          <ng-container matColumnDef="death">
            <th mat-header-cell *matHeaderCellDef>Death</th>
            <td mat-cell *matCellDef="let magatamaArray">{{magatamaArray.resistances.death}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsDisplayMagatamas; sticky: true"></tr>
          <tr mat-row *matRowDef="let magatamaArray; columns: columnsDisplayMagatamas"
            (click)="navigateToDetailMagatama(magatamaArray.id)"></tr>
        </table>
      </mat-tab>
      <!-- <mat-tab label="List of Skills" mat-ripple [matRippleColor]="'rgba(255, 255, 255, 0.30)'">
        <table mat-table [dataSource]="demonsArray">
          <ng-container matColumnDef="race">
            <th mat-header-cell *matHeaderCellDef>Race</th>
            <td mat-cell *matCellDef="let demonsArray">{{demonsArray.race}}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let demonsArray">{{demonsArray.name}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsDisplayDemons; sticky: true"></tr>
          <tr mat-row *matRowDef="let demonsArray; columns: columnsDisplayDemons" (click)="pau(demonsArray.name)"></tr>
        </table>
      </mat-tab> -->
    </mat-tab-group>
  </div>
</div>
<br>