<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{name}}</mat-card-title>
      <mat-card-subtitle *ngIf="this.isMagatama">Magatama</mat-card-subtitle>
      <mat-card-subtitle *ngIf="!this.isMagatama">demon</mat-card-subtitle>
    </mat-card-header>
    <img *ngIf="isDemon" mat-card-image src="../../../../../assets/img/daisoujou_teste.png" class="demon-img">
    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="50px">
        <mat-grid-tile *ngFor="let item of skillsModel" [colspan]="1" [rowspan]="1" (mouseover)="getSkillDesc(item.id)"
          (mouseout)="desc = ''">
          <button>
            {{item.name}}
          </button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1" *ngIf="this.desc !== ''">
          <h3>{{desc}}</h3>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
<br>