<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Daisoujou</mat-card-title>
      <mat-card-subtitle>Fiend</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../../../assets/img/daisoujou_teste.png" class="demon-img">
    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="250px">
        <mat-grid-tile>
          <button mat-button>Meditation</button>
          <button mat-button>Mahamaon</button>
          <button mat-button>aaaa</button>
          <button mat-button>aaaa</button>
        </mat-grid-tile>
        <mat-grid-tile>

        </mat-grid-tile>
      </mat-grid-list>
      <p>aaaaa</p>
    </mat-card-content>
  </mat-card>
</div>
<br>